.outerBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border-radius: 10px;
    height: 13rem;
    box-shadow: 2px 2px 25px var(--detail);
    background-color: rgba(63,	114, 175, 0.4);
    position: relative;
    overflow: hidden;
}

@keyframes borderAnimaion {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* 
.borderAnimaion {
    position: absolute;
    background: conic-gradient(var(--detail) 20deg, var(--secondary) 60deg, transparent 120deg);
    filter: blur(.3rem);
    height: 150%;
    width: 200%;
    animation-name: borderAnimaion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 96%;
    height: 97%;
    border-radius: 10px;
    background-color: rgba(92, 136, 189);
    z-index: 1;
    position: relative;
}

.backgroundBlob {
  position: absolute;
  background-color: rgba(219,226,239, 0.2);
  filter: blur(.1rem);
  box-shadow: 1px 1px 40px;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  z-index: -1;
}

.cardBody .icon {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 70px;
    color: var(--secondary);
}

.cardBody p {
    font-size: 20px;
    color: var(--primary);
}