.outerBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border-radius: 10px;
    height: 13rem;
    box-shadow: 2px 2px 50px var(--detail);
    background-color: rgba(63,	114, 175, 0.4);
    position: relative;
    overflow: hidden;
}

@keyframes borderAnimaion {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.borderAnimaion {
    position: absolute;
    background: linear-gradient(to left, #87b6ef, #3F72AF 50%, #87b6ef);
    filter: blur(.3rem);
    height: 150%;
    width: 50px;
    animation-name: borderAnimaion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 96%;
    height: 97%;
    border-radius: 10px;
    background-color: rgba(92, 136, 189);
    z-index: 1;
}

.cardBody div {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 70px;
    color: var(--secondary);
}

.cardBody p {
    font-size: 20px;
    color: var(--text);
}