
.introText {
    padding: 5rem;
}

.introText p {
    color: var(--text);
    font-size: 21px;
}

.introText span {
    color: var(--text);
    font-size: 50px;
}

.logos {
    display: flex;
}

.logos div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
    color: var(--text);
    margin-right: .3rem;
}

.logos div:hover {
    color: var(--detail);
    transform: scale(1.2);
    transition: 0.2s;
}